$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;

$border-radius: 20px;

$mobileLimit: 1024px;
$desktopLimit: $mobileLimit + 1;

@mixin desktop {
  @media only screen and (min-width: $desktopLimit) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $mobileLimit) {
    @content;
  }
}
