$link-water15: rgba(219, 240, 246, 0.15);
$link-water25: rgba(219, 240, 246, 0.25);
$mercuru25: rgba(225, 225, 225, 0.25);
$mercuru50: rgba(225, 225, 225, 0.5);
$mercuru75: rgba(225, 225, 225, 0.75);
$white: white;

$shadow-standard: 2px 2px 2px 1px $mercuru50;
$shadow-highlighted: 4px 4px 2px 1px $mercuru75;
$shadow-full: 0 0 16px 8px $mercuru75;
$shadow-full-sm: 0 0 8px 4px $mercuru50;

$header-font-size: 2rem;
