@import "/src/shared/style/layout";
@import "/src/shared/style/truncate";
@import "/src/shared/style/variables";

$header-height: 60px;

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: $mercuru75;

  .content {
    background-color: $white;
    animation: popIn 0.4s ease-in-out;
    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
      height: 100%;
    }

    @include desktop {
      width: 45rem;
      height: 30rem;
      border-radius: $border-radius;
      box-shadow: $shadow-full;
      padding: $spacing-sm $spacing-lg $spacing-sm $spacing-lg;
    }

    .header {
      display: flex;
      height: $header-height;

      .beerName {
        flex: 1;
        @include truncate($header-font-size);
        font-size: $header-font-size;

        @include mobile {
          margin-left: $spacing-md;
        }
      }
    }

    .description {
      flex: 1;
      height: calc(100% - #{$header-height});
      display: flex;

      @include mobile {
        flex-direction: column;
      }

      .beerImage {
        @include mobile {
          height: 50%;
          align-self: center;
        }

        @include desktop {
          height: 100%;
          margin-right: $spacing-lg;
        }
      }

      .beerInfo {
        padding: $spacing-sm $spacing-md;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;

        @include mobile {
          margin-top: $spacing-lg;
        }

        .beerMainInfo {
          display: flex;
          flex-direction: column;
          flex: 1;

          .beerDescription {
            margin-bottom: $spacing-sm;
            padding: $spacing-md;
            border: 1px solid $mercuru75;
            border-radius: $border-radius;
          }

          .beerTips {
            display: flex;

            .tipsHidden,
            .tipsDisplayed {
              flex: 1;
              transform-origin: left center;
              animation-duration: 0.5s;
              font-style: italic;
            }

            .tipsHidden {
              opacity: 0;
              animation-name: rollOut;
              animation-direction: backwards;
            }

            .tipsDisplayed {
              opacity: 1;
              animation-name: rollIn;
              animation-direction: forwards;
            }
          }
        }
      }

      .beerTagline {
        text-align: end;
        margin-top: $spacing-md;
      }
    }

    .button {
      cursor: pointer;
      background: none;
      border: none;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: $shadow-full-sm;
        border-radius: 50%;
        background-color: $mercuru25;
      }
    }
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rollIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes rollOut {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
